* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    
}

html {
  scroll-behavior: smooth;
}

body {
    background: #fefefe;
}
header {
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    top: 0;
    transition: all 0.15s linear; 
    z-index: 3;
   
}
header.active {
    box-shadow: #a993ff
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}    
.swift {
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color:#fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    color: #11101b;
    background: #fefefe;
}
.nav-bar ul li a.active {
    color: #11101b;
    background: #fefefe;
}
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px) {
    .swift {
        display: block;
        cursor: pointer;
    }
    .swift .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin : 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    
    .nav-bar ul li a {
        margin-bottom: 12px;
        color: whitesmoke;
    }
    
.nav-bar.active {
    height: 450px;
}
.nav-bar.active ul {
    opacity: 1;
}
}

@media screen and (max-width: 1920px) {
.motto {
    display: block;
    text-align: center;
    margin: 120px 80px 60px 80px;
    font-size: 40px;
    max-width:100%;
    color:#000000
    
}

}    

nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 3px;
    margin-top: 9px;
    font-family:'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width: 900px) {
    nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 3px;
    margin-left: 28px;
    margin-top: 9px;
    font-family:'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
}

}

/* Login form */

#login-form
{
    display: none;
    overflow: auto;
    position: fixed;
    border-radius: 8px;
    z-index: 2;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #00ff3c1f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 120px;
	height: 100%;
	background: #fefefe;
	border-radius: 30px;
	transition: .5s;
    margin: 0 5px;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #fefefe;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}

#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}


/* About Us*/   

h1 {
  color:#434343;
}


.about-section{
    
  background: url(/images/pexels-evg-kowalievska-1170979.jpg) no-repeat left;
    background-size: 55%;
    background-color: #000000;
    overflow: hidden;
    padding: 100px 0;
   

}

.inner-container{
    width: 55%;
    float: right;
    background-color: #ffffff;
    padding: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}



@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}


/* Services */

#servicetop {
  padding-top: 50px;
    margin-top: -50px;
}

.service-title {
  text-align: center;
  margin: 40px 0 30px 0;
  font-size: 40px;
  color:#434343;
}
.services{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #434343;
}

.service{
  width: calc(33% - 20px);
  text-align: center;
  border: 1px solid #6ab04c;
  border-radius: 6px;
  margin: 10px 0 40px 0;
  padding: 40px 20px;
  color: #000000;
  cursor: pointer;
  transition: .3s linear;
}

.service .icon{
  color: #6ab04c;
  font-size: 40px;
  margin-bottom: 20px;
  transition: .3s linear;
}

.service h4{
  font-size: 22px;
  margin-bottom: 6px;
}

.service:hover{
  background-color:#000000;
  color:#ffffff
}

.service:hover .icon{
  color: #68ff2c;
}

/* */
/* Our Doctors*/
/* */

#doctorstop {
  padding-top: 50px;
    margin-top: -50px;
}


.doctorintro {
  background-color:#f1f1f1;
  padding-bottom: 40px;
}


h3 {
  text-align:center
}

.role {
  text-align:center;
  text-transform: uppercase;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
  margin-top: -40px;
}
.column {
  width: 100%;
  padding: 0.5em 0;
}
h5 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #434343;
  margin: 60px 0 -10px 0;
}
.card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color: #a993ff;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
  transition: all 0.4s ease;
}
.card:hover {
  background: linear-gradient(#6045ea, #8567f7);
  color: #ffffff;
}
.card:hover .img-container {
  transform: scale(1.15);
  z-index: -10;
  transition: 0.4s;
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}




/* Reviews */


.reviews {
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
  }
  .inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border {
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
    
  }
  .review {
    background: #fff;
    padding: 30px;
  }
  .review img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: #6ab04c;
    margin-bottom: 20px;
  }
  
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }


/* Back to top scroll button */

  #back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
  }
  #back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #333;
    color: #fff;  
  }
  
  @media(max-width: 992px) {
    .container { padding: 20px 100px; }
    #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
  }
  @media(max-width:768px) {
    body { font-size: 16px; }
    .container { padding: 10px 50px; }
    h1 { font-size: 26px; }
    h2 { font-size: 22px; }
    hr { margin: 30px 0; }
    #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
  }
  
  /* Animations */
  .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  /* zoomIn */
  /* @keyframes btnEntrance { 
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
      opacity: 1;
    }    
  } */
  
  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }
  /* zoomOut */
  /* @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  } */
  
  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }


  .show-btn{
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #3498db;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .show-btn, .container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  input[type="checkbox"]{
    display: none;
  }
  .container{
    display: none;
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
  #show:checked ~ .container{
    display: block;
  }
  .container .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  .container .close-btn:hover{
    color: #3498db;
  }
  .container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .container form{
    margin-top: -20px;
  }
  .container form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
  }
  form .data label{
    font-size: 18px;
  }
  form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
  }
  form .data input:focus{
    border-color: #0b1f2d;
    border-bottom-width: 2px;
  }
  form .forgot-pass{
    margin-top: -8px;
  }
  form .forgot-pass a{
    color: #3498db;
    text-decoration: none;
  }
  form .forgot-pass a:hover{
    text-decoration: underline;
  }
  form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #81ff4f, #161313, #68ff2c, #111010);
    transition: all 1.4s;
  }
  form .btn:hover .inner{
    left: 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
  form .signup-link{
    text-align: center;
  }
  form .signup-link a{
    color: #3498db;
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  }

/* Articles*/


#articlestop {
  scroll-margin-top: 80px;
}

/* .center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
} */


#articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  background-color:#ffffff
}

.articles-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  color:#434343;

}

.articles-heading span {
  color:#4415b0
}

.articles-heading h3 {
  font-size: 40px;
  color: #434343
}

.articles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.articles-box {
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  
}

.articles-img {
  width: 100%;
  height: 100%;
  object-position: center;
}

.articles-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.articles-text {
  padding:30px;
  display: flex;
  flex-direction: column;
}

.articles-text span {
  color:#f33c3c;
  font-size: 0.9rem; /**/
}

.articles-text .articles-title {
  font-size: 1.3rem;
  font-weight: 500;
  color:#272727;
}

.articles-text .articles-title:hover {
  color:#f33c3c;
  transition: all ease 0.4s;
}

.blog-text p {
  color: #9b9b9b;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-line-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text a {
  color: #0f0f0f;
}

.blog-text a:hover {
  color:#f33c3c;
  transition: all ease 0.4s;
}

@media(max-width:1250px) {
  .articles-box {
    width: 300px;
  }
}

@media(max-width: 1100px) {
  .articles-box {
    width: 70%
  }
}

@media(max-width: 550px) {
  .articles-box {
    margin: 20px 10px;
    width: 100%
  }
  #articles {
    padding: 10px;
  }
}

/* */
  /* Footer */
/* */

.containerfooter{
	max-width: 1170px;
	margin:auto;
}
  .row2{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:rgb(0, 0, 0);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h6{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

